@model MenBytes.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}

@*<h2>@ViewBag.Title.</h2>*@

<div class="form-gap"></div>
<div id="content">
    <div class="container" style="margin-top: 15px">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x" style="color: #ffd700"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">

                                @*<form id="register-form" role="form" autocomplete="off" class="form" method="post">*@

                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {



                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "email addres", id = "email" })
                                            @*<input id="email" name="email" placeholder="email address" class="form-control" type="email">*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                    </div>
                                    @Html.AntiForgeryToken()

                                    @*<input type="hidden" class="hide" name="token" id="token" value="">*@
                                }
                                @*</form>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="padding-top-10 padding-bottom-80">
     
    </section>
</div>


@*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
